body {
  overflow-x: hidden;
}
.barshadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.06) !important;
}
.logo {
  width: 155px;
  height: 50px;
}
.imgsize {
  width: 325px;
}
.txt {
  width: 425px;
  height: 160px;
}

.vector {
  width: 22px;
}
.cardimg {
  width: 210px;
  height: 205px;
}
.cardtxt {
  font-size: 16px;
  margin-bottom: -5px;
}
.price {
  font-size: 20px;
}
#strs {
  width: 16px;
}
.radius {
  border-radius: 8px;
}

.circle {
  width: 38px;
  height: 38px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inter {
  font-family: "Inter", sans-serif;
}
.comfortaa {
  font-family: "Comfortaa", cursive;
}
.box {
  height: 60px;
  width: 585px;
  border-radius: 80px;
  border: 1px solid #c4c4c4;
}
.addbtn {
  box-sizing: border-box;
  position: absolute;
  width: 60px;
  height: 20px;
  border: 1px solid #e7e7e7;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 175px;
}
.plusheight {
  height: 20px;
  display: flex;
  align-items: center;
}

.languages {
  border: none;
}

.btns1 {
  width: 90px;
  height: 35px;
  background-color: #2d11be;
  border: 1px solid #2d11be;
}
.btns2 {
  width: 90px;
  height: 35px;
  background-color: #2d11be;
  border: 1px solid #2d11be;
  margin-left: 20px;
}
.blueclr {
  background-color: #2d11be;
  border: 1px solid #2d11be !important;
}

.txtbox {
  width: auto;
  height: auto;
  border: 1px solid #e7e7e7;
  border-radius: 20px;
}
.grey_border {
  border: 1px solid #acacac;
}

.loremsize {
  font-size: 14px;
  line-height: 24px;
}
.coverimg {
  object-fit: cover;
}

.cardsborder {
  width: 1200px;
  height: 350px;
  display: flex;
  align-items: center;
  border: 1px solid #e7e7e7;
  border-radius: 20px;
}
.cardsborder1 {
  display: none !important;
}
.firstcard {
  width: 30%;
  height: 100%;
  margin-left: 50px;
  padding-right: 70px;
}
.secondcard {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 40%;
  height: 100%;
  padding-left: 55px;
  padding-right: 50px;
}
.thirdcard {
  width: 25%;
  padding-left: 30px;
}
#strs1 {
  width: 23px;
  margin-right: 6px;
  margin-bottom: 5px;
}
.btnbuy {
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circlesize {
  width: 50px;
  height: 50px;
}
.bottom_bar {
  width: 1200px;
  height: 78px;
  border: 1px solid #e7e7e7;
  border-radius: 20px;
}
.btn1 {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  background-color: #2d11be;
  color: white;
  display: flex;
  justify-content: center;
}
.numbers {
  margin-top: 10px;
}
.txt_on_img {
  width: 430px;
  position: absolute;
  color: white;
  float: left;
  margin-top: 130px;
  margin-left: 80px;
}
.plchldr_box {
  width: 500px;
  padding: 3px;
}
.img_plchldr {
  border: none;
}
.plchldr_btn {
  width: 100px;
  height: 45px;
  margin-left: 38px;
  color: white;
}

.mwk {
  width: 750px;
}
.line {
  width: 100px;
  height: 0px;
  border-top: 1px solid #c4c4c4;
}
.mwktxt {
  font-size: 22px;
}
.printed_shirts {
  position: absolute;
  width: 458px;
  font-weight: 500;
  line-height: 50px;
  margin-left: 150px;
}
.bg_clr_new {
  background-color: #e9e9e9;
}
.suit_rounded {
  border-radius: 20px;
}
.circles {
  margin-left: 20px;
}
.circles_lttl {
  width: 13px;
  height: 13px;
  border: 1px solid;
  border-radius: 50%;
}
.clothing_delivery {
  width: 1450px;
  height: auto;
  background: #f3f3f3;
  padding-left: 120px;
  padding-right: 100px;
  padding-top: 45px;
  padding-bottom: 30px;
}
.delivery-txt {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
}
.rectangle_1 {
  width: 50px;
  height: 22px;
  background-color: #ed9005;
  opacity: 0.99;
  text-align: center;
  border-radius: 20px 7px;
  color: #ffffff;
}
.addbtn_orange {
  position: absolute;
  margin-left: 184px;
}
.line_through {
  color: #ed9005;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-decoration-line: line-through;
  margin-top: -10px;
  margin-right: 105px;
}
.m_top_mns {
  margin-top: -25px;
}
.m_l_minus {
  margin-left: -25px;
}
.box1 {
  width: 1030px;
  height: 180px;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
}
.box2 {
  width: 1030px;
  height: 55px;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
}
.box3 {
  width: 1030px;
  height: 55px;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
}
.box4 {
  width: 1030px;
  height: 190px;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
}
.ellipse {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: rgba(45, 17, 190, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bx1 {
  width: 223px;
  height: 125px;
}
#txt {
  font-size: 14px;
  color: #757575;
}
.bx2 {
  width: 148px;
  height: 125px;
}
.bx3 {
  width: 142px;
  height: 125px;
}
.red_asterisk {
  color: red;
  margin-top: 20px;
  margin-right: 10px;
}
.red_asterisk2 {
  color: red;
  margin-top: 18px;
  margin-right: 10px;
}

/*Footer*/

.footer {
  background-image: url(./imgs/Rectangle\ 198.png);
  box-sizing: unset !important;
}
.icons_container {
  margin-left: 150px;
}
.whitetxt {
  color: #ffffff;
  background-color: transparent;
}
.bluetxt {
  color: #2805ff;
}

.logo_ftr {
  margin-left: -12px;
  margin-top: -10px;
}
.address {
  width: 205px;
}
.links {
  text-decoration: none;
}
.placeholder {
  width: 400px;
  height: 50px;
  background-color: #f8f8f8;
}
.cards {
  width: 60px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
  border: 1px solid #b4b4b4;
  border-radius: 5px;
}
@media (max-width: 990px) {
  /* iPad */
  /* Home page */
  .nav_home {
    margin-left: 0 !important;
  }
  .btns1 {
    position: absolute;
    top: 20px;
    margin-left: 420px;
  }
  .btns2 {
    position: absolute;
    top: 20px;
    margin-left: 520px;
  }
  .txt_on_img {
    width: 250px;
    margin-top: 30px;
    margin-left: 30px;
  }
  .txt_on_img_bggr {
    font-size: 20px;
  }
  .txt_on_img_smllr {
    font-size: 15px;
  }
  .plchldr_box {
    width: 200px;
    height: 30px;
    padding: 3px;
  }
  .plchldr {
    width: 140px;
    height: 25px;
  }
  .img_plchldr {
    width: 150px;
    height: 25px;
    font-size: 10px;
  }
  .mgnfr_icn {
    width: 15px;
    margin-top: -3px;
  }
  .plchldr_btn {
    width: 70px;
    height: 32px;
    margin-left: -30px;
    margin-top: -4px;
    color: white;
  }
  .printed_shirts {
    position: absolute;
    width: 330px;
    font-weight: 400;
    line-height: 40px;
    margin-left: 140px;
    font-size: 20px;
  }
  .delivery-txt {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.7;
  }
  .clothing_delivery {
    width: 1450px;
    background: #f3f3f3;
    padding-left: 120px;
    padding-right: 100px;
    padding-top: 45px;
  }
  .partners {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
  }
  .icons_container {
    margin-left: 0;
  }
  .partner_logos {
    width: 400px;
    margin-top: 30px;
  }
  .rcmtdtn_txt_ftr {
    font-size: 18px;
  }
  .ftr_cntnt {
    display: flex;
    width: 650px;
    margin-left: 40px;
  }
  .addrss_ftr {
    width: 220px;
    margin-right: 0 !important;
  }
  .logo_ftr {
    display: none;
  }
  .info_ftr {
    width: 150px;
  }
  .cntct_us_ftr {
    width: 170px;
    padding: 0 !important;
  }
  .obuna_ftr {
    width: 500px;
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .news_txt {
    margin: 10px !important;
    margin-top: 20px !important;
  }
  .placeholder {
    margin: 0 !important;
  }
  /* #Home page */

  /* New products */
  .card1 {
    margin-bottom: 1rem;
  }
  /* #New products */

  /* Clothes men */
  .cardsborder {
    display: none !important;
  }
  .cardsborder1 {
    width: 1000px !important;
    height: 270px !important;
    display: flex !important;
    align-items: center !important;
    border: 1px solid #e7e7e7 !important;
    border-radius: 20px !important;
    margin-bottom: 30px;
  }
  .firstcard1 {
    width: 50% !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .card-img-top {
    width: 150px !important;
    margin-bottom: 10px !important;
    margin-left: -20px !important;
  }
  .secondcard1 {
    width: 270px !important;
    padding-right: 20px;
  }
  .thirdcard1 {
    width: 50% !important;
    padding-left: 40px !important;
  }

  .card-title {
    margin-top: 0 !important;
  }
  .img_w_5 {
    height: 100px;
  }
  /* #Clothes men */

  /* About us */
  .img_first {
    width: 205px;
    margin-right: 15px !important;
  }
  .img_second {
    width: 205px;
    margin-right: 15px !important;
  }
  .img_third {
    width: 205px;
  }
  .vctr1 {
    width: 20px;
  }
  .vctr2 {
    width: 20px;
  }
  .txtbox {
    border-radius: 15px;
    padding: 10px;
  }
  /* #About us */

  /* Contact Us */
  .box1 {
    width: 700px;
    height: 180px;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    padding: 0 !important;
    padding-top: 20px !important;
  }
  .bx1 {
    width: 290px;
  }
  .bx2 {
    width: 200px;
  }
  .bx3 {
    width: 200px;
  }
  .box2 {
    width: 700px;
  }
  .box3 {
    width: 700px;
  }
  .box4 {
    width: 700px;
  }
  /* #Contact Us */
  /* #iPad */
}

@media (max-width: 773px) {
  /* Home */
  .btns1 {
    margin-left: 300px;
  }
  .btns2 {
    margin-left: 400px;
  }
  .partner_logos {
    width: auto;
  }
  .rcmtdtn_txt_ftr {
    font-size: 15px;
  }
  /* #Home */

  /* About us */
  .sld_cntnr {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .img_first {
    width: 150px;
  }
  .img_second {
    width: 150px;
  }
  .img_third {
    width: 150px;
  }
  .vctr1 {
    width: 15px;
  }
  .vctr2 {
    width: 15px;
  }
  .txtbox {
    margin-bottom: 0 !important;
  }
  /* #About us */

  .firstcard1 {
    margin-top: 0 !important;
  }

  .t-shirt_txt_card {
    width: auto !important;
    padding-right: 20px;
  }
  .t-shirt_txt {
    font-size: 15px !important;
  }
}
@media (max-width: 715px) {
  .printed_shirts {
    width: 270px;
    line-height: 30px;
    margin-left: 100px;
    font-size: 16px;
  }
  .clothing_delivery {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
  }
  .delivery-txt {
    font-size: 16px;
    line-height: 25px;
  }
  .delivery-title {
    font-size: 25px;
  }
  .dscntd_prdcts {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .vw_products {
    font-size: 14px;
  }
  .addrss_ftr {
    width: 150px;
    font-size: 14px;
  }
  .info_ftr {
    width: 150px;
    font-size: 14px;
  }
  .cntct_us_ftr {
    width: 150px;
    font-size: 14px;
  }
  .obuna_ftr {
    font-size: 14px;
  }

  /* Clothes men */
  .available {
    font-size: 16px;
  }
  #strs1 {
    width: 15px;
  }
  .gucci_txt {
    font-size: 15px !important;
  }
  .card-title {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .btnbuy {
    height: 35px;
  }
  .circlesize {
    height: 35px;
  }
  .bottom_bar {
    height: 50px;
    margin-top: 20px !important;
    margin-bottom: 0 !important;
  }
  /* #Clothes men */
}
@media (max-width: 640px) {
  .btns1 {
    margin-left: 250px;
  }
  .btns2 {
    margin-left: 350px;
  }
  .arrow {
    width: 100px;
  }
  .pplr_prdcts {
    margin: 0 !important;
    font-size: 18px;
  }
  .clothing_delivery {
    padding-left: 50px;
    padding-right: 50px;
  }
  .delivery-txt {
    font-size: 15px;
    line-height: 25px;
  }
  .delivery-title {
    font-size: 20px;
  }
  .rcmtdtn_txt_ftr {
    font-size: 12px;
  }
  .vw_products {
    font-size: 12px;
  }
  .see_now_ftr {
    font-size: 15px;
  }
  .icons_container {
    margin-right: 0 !important;
    padding: auto;
  }
  .footer {
    height: 100px;
  }
  .lorem_logo {
    width: 90px;
    height: 30px;
  }
  .loremsize {
    font-size: 12px;
    line-height: 20px;
  }
}

@media (max-width: 590px) {
  /* Home */
  .logo {
    margin-left: -5px !important;
  }
  .btns1 {
    margin-left: 180px;
  }
  .btns2 {
    margin-left: 280px;
  }
  .plchldr_box {
    width: 165px;
    height: 24px;
  }
  .mgnfr_icn {
    width: 10px;
    margin: 3px !important;
    margin-top: -1px !important;
  }
  .img_plchldr {
    width: 140px;
    height: 18px;
    padding: 0;
  }
  .plchldr_btn {
    height: 24px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin-left: -40px;
    margin-top: -3px;
  }
  .mwk {
    height: 50px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .line {
    width: 70px;
  }
  .mwktxt {
    font-size: 20px;
  }
  .printed_shirts {
    width: 240px;
    line-height: 25px;
    margin-left: 80px;
    font-size: 16px;
  }
  .footer {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .icns {
    margin: 5px !important;
  }
  /* #Home */

  /* About us */
  .img_first {
    margin-right: 5px !important;
  }
  .img_second {
    margin-right: 5px !important;
  }
  .vctr1 {
    width: 12px;
    margin-right: 10px !important;
  }
  .vctr2 {
    width: 12px;
    margin-left: 10px !important;
  }
  /* #About us */
}

@media (max-width: 520px) {
  .nav_logo {
    width: 105px;
    height: 35px;
    margin-left: -8px !important;
  }
  .btns1 {
    width: 70px;
    height: 30px;
    margin-left: 120px;
    margin-top: -5px;
  }
  .btn1_txt {
    font-size: 12px;
    font-weight: 500;
  }
  .btns2 {
    width: 70px;
    height: 30px;
    margin-left: 210px;
    margin-top: -5px;
  }
  .btn2_txt {
    font-size: 12px;
    font-weight: 500;
  }
  .line {
    width: 40px;
  }
  .mwktxt {
    font-size: 16px;
  }
  .printed_shirts {
    width: 210px;
    line-height: 22px;
    margin-left: 70px;
    font-size: 14px;
  }
  .clothing_delivery {
    padding-left: 40px;
    padding-right: 40px;
  }
  .delivery-txt {
    font-size: 15px;
    line-height: 22px;
  }
  .ftr_cntnt {
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: 0;
  }
  .addrss_ftr {
    width: auto;
  }
  .info_ftr {
    width: auto;
  }
  .fw-bold {
    margin-bottom: 0 !important;
    font-size: 14px;
  }
  .cntct_us_ftr {
    width: auto;
    padding: 0 !important;
  }
  .obuna {
    display: flex;
    justify-content: center;
  }
  .obuna_ftr {
    margin-top: 0;
    width: 300px;
  }
  .placeholder {
    width: 340px;
    height: 30px;
    background-color: #f8f8f8;
  }
  .ftr_plchldr_btn {
    width: 100px !important;
    font-size: 10px;
    padding: 0;
  }

  /* About us */
  .img_first {
    width: 120px;
  }
  .img_second {
    width: 120px;
  }
  .img_third {
    width: 120px;
  }
  .our_map {
    margin: 20px !important;
  }
  /* #About us */

  /* Clothes men */
  .cardsborder1 {
    height: 200px !important;
    margin-bottom: 25px;
  }
  .first_img {
    width: 100px !important;
  }
  .t-shirt_txt {
    font-size: 12px !important;
  }
  .available {
    font-size: 15px;
    margin-bottom: 0;
  }
  #strs1 {
    width: 15px;
  }
  .gucci_txt {
    font-size: 12px !important;
    line-height: 15px;
  }
  .card-title {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .btnbuy {
    height: 25px;
    margin-top: 0 !important;
  }
  .circlesize {
    height: 26px;
    margin-top: 0 !important;
  }
  .hrt {
    width: 14px;
  }
  .numbers {
    font-size: 12px !important;
  }
  .btn1 {
    width: 20px;
    height: 20px;
    margin-left: 14px !important;
  }
  .blck_vctr {
    width: 6px !important;
  }
  .nums {
    font-size: 15px;
    margin-right: 14px !important;
  }
  /* #Clothes men */
}

@media (max-width: 450px) {
  .btns1 {
    margin-left: 80px;
  }
  .btn1_txt {
    font-size: 12px;
    font-weight: 500;
  }
  .btns2 {
    margin-left: 160px;
  }
  .btn2_txt {
    font-size: 12px;
    font-weight: 500;
  }
  .txt_on_img {
    width: 180px;
    margin-left: 15px;
  }
  .txt_on_img_bggr {
    font-size: 14px;
  }
  .txt_on_img_smllr {
    font-size: 12px;
  }
  .plchldr_box {
    width: 130px;
    height: 20px;
    padding: 0 !important;
  }
  .img_plchldr {
    width: 113px;
    height: 16px;
    font-size: 8px;
    margin-top: 2px;
  }
  .mgnfr_icn {
    width: 10px;
    margin-top: 2px !important;
  }
  .plchldr_btn {
    height: 20px;
    margin-left: -45px;
    margin-top: 0;
    font-size: 10px;
  }
  .mwk {
    height: 40px;
  }
  .mwktxt {
    margin-top: 13px !important;
  }
  .arrow {
    width: 65px;
  }
  .pplr_prdcts {
    margin: 0 !important;
    font-size: 14px;
  }
  .dscntd_prdcts {
    margin: -10px !important;
    font-size: 14px;
  }
  .line {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .printed_shirts {
    width: 160px;
    line-height: 18px;
    margin-left: 50px;
    font-size: 11px;
    margin-top: 7px;
  }
  .clothing_delivery {
    padding-left: 30px;
    padding-right: 30px;
  }
  .delivery-txt {
    font-size: 14px;
    line-height: 20px;
  }
  .icns {
    width: 30px;
  }
  .cards {
    width: 50px;
    margin: 1px !important;
  }
  /* Clothes men */
  .cardsborder1 {
    width: 350px !important;
    height: 160px !important;
    padding: 15px !important;
  }
  .firstcard1 {
    padding-left: 0 !important;
  }
  .first_img {
    margin-bottom: 0 !important;
  }
  .t-shirt_txt_card {
    padding: 0;
  }
  .thirdcard1 {
    padding-left: 15px !important;
  }
  .gucci_txt {
    margin-bottom: 4px;
  }
  /* #Clothes men */
}
@media (max-width: 430px) {
  .clothing_delivery {
    padding-left: 30px;
    padding-right: 30px;
  }
  .delivery-title {
    font-size: 16px;
  }
  .delivery-txt {
    font-size: 12px;
    line-height: 20px;
  }
  .rcmtdtn_txt_ftr {
    font-size: 10px !important;
  }
  .vw_products {
    font-size: 8px;
  }
  .see_now_ftr {
    font-size: 10px;
  }
  .footer {
    height: 80px;
  }
  .icns {
    margin-top: 30px !important;
  }

  /* About us */
  .img_first {
    width: 110px;
  }
  .img_second {
    width: 110px;
  }
  .img_third {
    width: 110px;
  }
  .vctr1 {
    width: 6px;
    margin-right: 3px !important;
  }
  .vctr2 {
    width: 6px;
    margin-left: 3px !important;
  }
  /* #About us */
}
